{% extends 'base.html' %}
{% block title %}
已完成事項頁面
{% endblock %}
{% block content %}
<h1>Completed Todo</h1>
{% for todo in todos %}
{% if todo.completed %}
<li><span style="color:rgb(9, 9, 130)">[{{todo.created}}]</span>
    <a href="{% url 'todo' todo.id %}" style="color:black;text-decoration: underline;">
        {% if todo.completed %}
        <s>{{todo.title}}</s>
        {% else %}
        {{todo.title}}
        {% endif %}
    </a>
    {% if todo.important %}
    <span style="color:red">重要!</span>
    {% endif %}
</li>
{% endif %}
{% endfor %}
{% endblock %}